*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    background-color:rgb(255, 248, 243) ;
    color: rgb(112, 112, 112);

}
.containner1{
    position: relative;;
}



h1{
    margin: 50px;
    margin-top: 75px;
}
.containner{
    display: grid;
    grid-template-areas: 
    "img1 ket1"
    "img2 ket2";
    row-gap: 100px;
    margin-top: 70px;
    margin: 50px;
    /* justify-items: center; */
    align-items:center ;

    
}
.containner img, .gambar2{
    border-radius: 30px;
}
.containner img:nth-child(2){
    grid-area: img1;
}
.containner .gambar2{
    grid-area: ket2;
    display: grid;
    justify-items: flex-end;
}
.containner p:nth-child(2){
    grid-area: ket1;
}
.containner p:nth-child(3){
    grid-area: img2;
}

/* footer */

footer{
    display: flex;
    background-color: rgb(238, 95, 0);
    justify-content: space-around;
    align-items: center;
    height: 200px;
    color: rgb(255, 240, 230);
}
footer .footer1{
    font-family:'Pacifico', cursive; 
    color: rgb(255, 240, 230);
    padding: 20px;
}
footer .media .logo1 img{
    width: 20px;
}
footer .footer2{
    
    display: flex;
    justify-content: space-between;
    
}
footer .footer2 .quotes{
    
    width: 40%;
    
}
footer .footer2 .media{
    display: flex;
    
    width: 20%;
    justify-content: space-between;
}
footer .footer2 .media .logo1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
footer .footer2 .media .name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
@media screen and (max-width:576px){
   
    .containner{
        display: flex;
        flex-direction: column;  
        text-align: center;   
    }
    footer{
        display: flex;
        background-color: rgb(238, 95, 0);
        flex-direction: column;
        align-items: center;
        height: 400px;
        color: rgb(255, 240, 230);
        
    }

    footer .media .logo1 img{
        width: 20px;
    }
    footer .footer2{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }
    footer .footer2 .quotes{
        text-align: center;
        width: 50%;
        
    }
    footer .footer2 .media{
        display: flex;
        
        width: 35%;
        height: 30%;
        justify-content: space-between;
    }
    footer .footer2 .media .logo1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    footer .footer2 .media .name{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}