*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    background-color:rgb(255, 240, 230) ;
    color: rgb(112, 112, 112);
}

/* main */

main{
    display: flex;
    margin: 100px;
    margin-top: 100px;
    justify-content: space-around;
}
main .word{
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
main .word h1{
    font-weight: bolder;
    margin-bottom: 20px;
}
main .word .quotes p span{
    font-weight: bolder;
    color: black;
}
main .word .quotes button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 95, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    cursor: pointer;
    font-family: sans-serif;
}
main .word .quotes button:hover{
    background-color: rgb(165, 66, 0);
}
main .image img{
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}




/* footer */

footer{
    display: flex;
    background-color: rgb(238, 95, 0);
    justify-content: space-around;
    align-items: center;
    height: 200px;
    color: rgb(255, 240, 230);
}
footer .footer1{
    font-family:'Pacifico', cursive; 
    color: rgb(255, 240, 230);
    padding: 20px;
}
footer .media .logo1 img{
    width: 20px;
}
footer .footer2{
    
    display: flex;
    justify-content: space-between;
    
}
footer .footer2 .quotes{
    
    width: 40%;
    
}
footer .footer2 .media{
    display: flex;
    
    width: 20%;
    justify-content: space-between;
}
footer .footer2 .media .logo1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
footer .footer2 .media .name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
/* Ukuran Mobile */
@media screen and (max-width : 576px){
    
    main{
        margin-top: 50px;
        position: relative;
        z-index: -1;
        width: 100%;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    main .word{
        width: 70%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: rgb(255, 240, 230);
        border-radius: 0 0 30px 30px;
    }
    main .word h1, .quotes{
        text-align: center;
    }
    footer{
        display: flex;
        background-color: rgb(238, 95, 0);
        flex-direction: column;
        align-items: center;
        height: 400px;
        color: rgb(255, 240, 230);
        
    }

    footer .media .logo1 img{
        width: 20px;
    }
    footer .footer2{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }
    footer .footer2 .quotes{
        
        width: 50%;
        
    }
    footer .footer2 .media{
        display: flex;
        
        width: 35%;
        height: 30%;
        justify-content: space-between;
    }
    footer .footer2 .media .logo1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    footer .footer2 .media .name{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}