*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    background-color:rgb(255, 248, 243) ;
    color: rgb(78, 78, 78);
}
.containner1{
    position: relative;
    
}

/* big */
.big{
    display: flex;
    align-content: center;
    justify-content: center;
    
}


h1{
    margin-top: 70px;
    margin-left: 50px;
    margin-top: 100px;
    
}
.container{
    
    /* justify-content: center; 
    align-content: center;  */
    margin: 100px;
    margin-top: 20px;
    
    display: grid;
    grid-template-columns:repeat(3, 200px) ;
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    z-index: -1;
    
}
.item{
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    background-image: url(https://source.unsplash.com/random/200x200);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
}
.item:nth-child(1){background-image: url(tel.jpg);}
.item:nth-child(2){background-image: url(pln.jpg);}
.item:nth-child(3){background-image: url(gd.jpg);}
.item:nth-child(4){background-image: url(indosat.jfif);}
.item:nth-child(5){background-image: url(tel.jpg);}
.item:nth-child(6){background-image: url(pln.jpg);}
.item:nth-child(7){background-image: url(indosat.jfif);}
.item:nth-child(8){background-image: url(pln.jpg);}
.item:nth-child(9){background-image: url(tel.jpg);}
.item .title{
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: rgb(238, 95, 0);
    top: 125px;
   
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    /* font-weight: bold; */
}
/* aside */
aside{
    width: 400px;
    height: 400px;
    background-color: rgb(238, 95, 0);
    
    /* margin: 50px ; */
    margin-top: 20px;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 30px; 
    
   
}
aside .picture{
    width: 400px;
    height: 40%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 30px 30px 0 0;
    background-image: url(https://source.unsplash.com/random);
    background-position: center;
    background-size: cover;
}
aside .profil{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    left: 100px;
    border: 3px solid rgb(255, 255, 255);
    background-image: url(org.jpg);
    background-position: center;
    background-position-y: 0px;
    background-position-x: -48px;
    background-size: cover;
    background-repeat: no-repeat;
}
aside .name {
    position: relative;
    top: 270px;
    left: 10px;
    color: white;
    text-align: center;
}
/* footer */

footer{
    display: flex;
    background-color: rgb(238, 95, 0);
    justify-content: space-around;
    align-items: center;
    height: 200px;
    color: rgb(255, 240, 230);
}
footer .footer1{
    font-family:'Pacifico', cursive; 
    color: rgb(255, 240, 230);
    padding: 20px;
}
footer .media .logo1 img{
    width: 20px;
}
footer .footer2{
    
    display: flex;
    justify-content: space-between;
    
}
footer .footer2 .quotes{
    
    width: 40%;
    
}
footer .footer2 .media{
    display: flex;
    
    width: 20%;
    justify-content: space-between;
}
footer .footer2 .media .logo1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
footer .footer2 .media .name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
/* Responsive */
@media screen and (max-width : 576px){
    
    .container{
        grid-template-columns:repeat(auto-fit,175px) ;
        grid-template-rows: repeat(auto-fit, 125px);
        margin: 0px;
        justify-content: center;
        order: 2;
        height: 800px;
        margin-bottom: 100px;
        
    }
    .item .title{
        height: 25%;
        top: 100px;
    }
    .big{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
    }
    .big aside{
        order: 1;
        margin: 20px auto;
        margin-bottom: 50px;
    }
    footer{
        display: flex;
        background-color: rgb(238, 95, 0);
        flex-direction: column;
        align-items: center;
        height: 400px;
        color: rgb(255, 240, 230);
        
    }

    footer .media .logo1 img{
        width: 20px;
    }
    footer .footer2{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }
    footer .footer2 .quotes{
        
        width: 50%;
        text-align: center;
        
    }
    footer .footer2 .media{
        display: flex;
        
        width: 35%;
        height: 30%;
        justify-content: space-between;
    }
    footer .footer2 .media .logo1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    footer .footer2 .media .name{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
